

.list-item
  .grid_1
    .price= '$' + ("%.2f" % listing.price.to_f)
  .grid_1.cond
    =listing.condition || 'N/A'
  .grid_8.decr
    = link_to listing do
      - if listing.saleable.nil?
        .title= listing.title
      - else
        = listing.description
    .tagline
      posted
      = render 'shared/time', :time => listing.created_at
      ago by
      = listing.user_name #link_to listing.user_name, listing.user

  .list-action.grid_2
    =button_to  'Contact Seller' if user_signed_in?

  .clear