
.grid_6.alpha
  =form_for [saleable, listing] do |f|
    - new_record = f.object.new_record?

    = render 'shared/error_messages', :object => f.object

    - if saleable.nil?
      .field
        = f.label :title
        %br
        = new_record ? f.text_field(:title) : listing.title
    - else
      .item
        = render saleable, :show_button => false
      .clear

    .field
      = f.label :price
      %br
      = f.text_field(:price)

    .field
      = f.label :condition
      %br
      = f.select(:condition, Listing::CONDITION_LIST)

    .field
      = f.label :description
      %br
      = f.text_area :description, :cols => 100, :rows => 8

    .actions
      = f.submit new_record ? "Listing" : "Update"
