<h1>Users</h1>

<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= avatar_for user, :size => 30 %>
      <%= link_to user.name, user %>
      <% if !user.admin? && current_user.admin? %>
        | <%= link_to("Ban", ban_user_path(user), :method => :put)%>
      <% end %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>