%h1
  = avatar_for @user
  = link_to @user.name, @user

%br

= mail_to @user.email

%br

- if current_user?(@user)
  = link_to "Edit", edit_user_path(@user)
  = button_to "Deactivate", deactivate_user_path(@user), :method => :put,
                :confirm => "Are you sure to deactivate your account?"


- if !@user.admin? && current_user.admin?
  = button_to "Ban", ban_user_path(@user), :method => :put
