.search_container
  = form_tag({}, :method => :get, :id => :search_form) do
    = submit_tag " ", {:name => nil, :class => :search_button}
    = text_field_tag :q, @keywords,
        {:class => :search_field, :id => :search_q,
         :placeholder => 'Search:'}

:javascript

  $(document).ready(function() {


    // let the form be 'indextank-aware'
    $("#search_q").parents('form').indextank_Ize(
        "#{OurBulletins::Application.config.index_tank_url_public}",
        "#{OurBulletins::Application.config.tanker_index}_#{subindex}")
    // let the query box have autocomplete
    $("#search_q").indextank_Autocomplete({fieldName: "title"})
    return
  });

