- default_locals :show_control=> false
.book-item
  .image=image_tag book.image_link

  .detail
    %p.name
      %span.title= book.new_record? ? book.title : link_to(book.title, book)
      by
      %span.author= book.author
    %p.isbn= "ISBN-13: #{book.ean}"
    %p.price.list-price
      List Price:
      = (book.list_price ? '$' + book.list_price.to_s : 'N/A')
    -unless book.new_record?
      %p
        = "#{book.listings.size} offers"
        = book.lowest_price ? 'from $' + book.lowest_price.to_s : ''
    -if show_control
      %p= render 'books/book_control', :book => book