=form_tag({}, :method => :get, :id => :search_option_form) do
  .form_body
    .grid_6
      -if @books.empty?
        &nbsp;
      -else
        =paginate @books
    .grid_4.right
      = render 'shared/search_form'

    .grid_2
      .field.switch
        %label.cb-enable
          %span Listed Only
        %label.cb-disable
          %span All
        = check_box_tag :listed, 1, @listed, :id => 'has_offer_checkbox'

    .clear

    .grid_12
      -if @books.empty?
        %h4 No record found.
      -else
        - @books.each do |book|
          .grid_2.booklet{:class => cycle('alpha', '', '', '', '', 'omega')}
            -if book.image_link.empty?
              .image.no-cover
                %span [ no cover ]
            -else
              .image
                = link_to book do
                  =image_tag(book.image_link, {:alt => book.title})
            .title= book.new_record? ? book.title : link_to(book.title, book, :title => book.title)
            .author= book.author
            -if book.has_listing?
              -if book.list_price
                .price.list-price= '$' + book.list_price.to_s
              .price
                = '$' + book.lowest_price.to_s

          .book-tooltip
            =render book

-#
  Find book dialog template

:javascript
  /* Hack to encounter Rails 3's forced utf8 field, which cause double variable here. */
  $(".search_container input[name='utf8']").remove();

  $(".booklet").tooltip({
    position: 'bottom center',
    predelay: 300,
    effect: 'slide',
    offset: [-50, 0]
  }).dynamic({ top: { direction: 'down', bounce: true, offset: [0, 0] } });

    /*
  $('#has_offer_checkbox').iphoneStyle({
    background: '#F9F3E8',
    checkedLabel: 'Yes ',
    uncheckedLabel: ' No'
  });
  */


  $(".cb-enable").click(function(){
      var parent = $(this).parents('.switch');
      //$('.cb-disable',parent).removeClass('selected');
      //$(this).addClass('selected');
      $('input[type="checkbox"]',parent).click();
  });
  $(".cb-disable").click(function(){
      var parent = $(this).parents('.switch');
      //$('.cb-enable',parent).removeClass('selected');
      //$(this).addClass('selected');
      $('input[type="checkbox"]',parent).click();
  });

  $('.switch label').click(function() {
    $(this).parents('form').submit();
  });

  $('.switch input[type="checkbox"]').change(function() {
    var parent = $(this).parents('.switch');
    if ($(this).is(':checked')) {
      $('.cb-enable',parent).addClass('selected');
      $('.cb-disable',parent).removeClass('selected');
    } else {
      $('.cb-enable',parent).removeClass('selected');
      $('.cb-disable',parent).addClass('selected');
    }
  });

  $('.switch input[type="checkbox"]').change();
