%h1 Books

.grid_11.push_1= will_paginate
%ul.users
  - @books.each do |book|
    %li.grid_6.alpha.book-item
      .grid_2.alpha= image_tag book.image_link
      .grid_4.omega
        %p
          %span.title=link_to book.title, book
          by
          %span.author= book.author
        %p.isbn= "ISBN-13: #{book.ean}"
        %p.price='List Price: $' + ("%.2f" % (book.list_price.to_f / 100.0))
        %p.list-count= "Current Offers: #{book.listings.size}"
        %p.price
          Lowest Price:
          = book.lowest_price ? '$' + ("%.2f" % (book.lowest_price / 100.0)) : 'N/A'



.grid_11.push_1= will_paginate