%h3= @book.title

-if logged_in?
  %h4=link_to 'List this book', new_book_listing_path(@book)

.grid_2.alpha= image_tag @book.image_link

.grid_8
  .author= @book.author

  %ul
    %li
      =@book.publisher
      ,
      =@book.publish_date
    %li
      Edition
      =@book.edition
    %li
      ISBN-10
      =@book.isbn
    %li
      ISBN-13
      =@book.ean

.clear
%br
- if @book.listings.size > 0
  .listings
    %h4 Current Listings:

    =render @book.listings

.grid_12.vendor-decr
  .prefix
    Description from
    = link_to 'Amazon.com', @book.amazon_detail_url, :target => '_blank'
  .grid_10.push_1!= CGI.unescapeHTML(@book.description)