%h3.grid_12= @book.title


.grid_2= image_tag @book.image_link

.grid_6
  .author= @book.author

  %ul
    %li= "#{@book.publisher}, #{@book.publish_date}"
    %li= "Edition #{@book.edition}"
    %li= "ISBN-10 #{@book.isbn}"
    %li= "ISBN-13 #{@book.ean}"
  = link_to 'List this book', new_book_listing_path(@book), :class => 'orange button'

.clear
%br
- if @book.listings.size > 0
  .grid_12
    %h4 Current Listings:
    =render @book.listings

-if @book.description?
  .grid_12.vendor-decr
    .prefix
      Description from
      = link_to 'Amazon.com', @book.amazon_detail_url, :target => '_blank'
    .push_1.grid_10!= CGI.unescapeHTML(@book.description)