<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie' %>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>

</head>
<body>

  <div class="container">
    <header class="span-24 prepend-top last">
      <div class="span-4 first">
        <% logo = image_tag("logo.png", :alt => app_name, :class => "round") %>
        <%= link_to logo, root_path %>
      </div>
      <nav class="span-6 push-14 last">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Sign In", '#' %></li>
          <li><%= link_to "Sign Up", signup_path %></li>
        </ul>
      </nav>
    </header>
    <section class="span-22 prepend-1 append-1">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <div><%= yield %></div>
    </section>
    <footer class="span-24 last prepend-top">
      <nav class="">
        <ul>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Help", help_path %></li>
        </ul>
      </nav>
    </footer>
  </div>

  <%= debug(params) if Rails.env.development? %>

</body>
</html>
