!!!
%html
  %head
    %title= title
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag

    = stylesheet_link_tag '960/reset.css', :media => 'screen'
    = stylesheet_link_tag '960/text.css', :media => 'screen'
    = stylesheet_link_tag '960/960.css', :media => 'screen'
    = stylesheet_link_tag 'formalize', :media => 'screen'
    = stylesheet_link_tag 'custom', :media => 'screen'

  %body


    %header
      #headerBar
      .container_12
        .grid_2= link_to logo, root_path
        .grid_3.search_bar= render 'shared/search_form'
        %nav.grid_4.left
          %ul
            %li= link_to "Books", books_path
            %li= link_to "Others", listings_path
            - if logged_in?
              %li= link_to "Profile", current_user
        .func-links.grid_2.right
          - if logged_in?
            = link_to "New Listing", new_listing_path
          - else
            = link_to "Sign Up", signup_path
        .func-links.grid_1.right
          - if logged_in?
            = link_to "Logout", logout_path
          - else
            = link_to "Login", login_path
        .clear
    .page_container
      %section.container_12.round
        - flash.each do |key, value|
          = content_tag(:div, value, :class => "flash #{key}")

        .grid_12.content= yield
        .clear

    %footer.container_12
      %nav.grid_12
        %ul
          %li= link_to "About", about_path
          %li= link_to "Contact", contact_path
          %li= link_to "Help", help_path
      .clear
    %br=debug(params) if Rails.env.development?


